.timeline-table {
  background: #fff;
  display: flex;
  flex-direction: column;

  &__days {
    display: flex;
    border-bottom: 1px solid var(--secondary);
    gap: 8px;
  }

  &__day {
    padding: 8px;
    width: calc(100% / 7);
    text-align: center;

    &--empty {
      width: 80px;
      flex-shrink: 0;
    }
  }

  &__content {
    display: flex;
    gap: 8px;
  }

  &__intervals {
    width: 80px;
    padding-top: 8px;
    border-right: 1px solid var(--secondary);
  }

  &__interval {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: end;

    & > div {
      height: 45px;
      padding: 8px;
      color: #aaaaaa;
      font-weight: 300;
      display: flex;
      justify-content: end;
      align-items: center;

      &:first-child {
        gap: 4px;
      }

      span {
        font-size: 22px;
        color: var(--primary);
        font-weight: 400;
      }
    }
  }

  &__list {
    width: 100%;
    padding-top: 24px;
    display: flex;
    gap: 12px;
  }

  &__list-day {
    width: calc(100% / 7);
    position: relative;
  }

  &__record {
    position: absolute;
    right: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.05);

    &:hover {
      box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
    }

    &-description {
      color: #222222;
    }

    &--smaller {
      & > * {
        font-size: 8px !important;
      }
    }

    /*&__status {
      &__waiting {
        .timeline-table__record-time {
          background: #1ab394;

          .timeline-table__icon {
            background-image: url('@/assets/images/patients-item-time-icon-waiting.svg');
            filter: brightness(0) invert(1);
          }
        }

        .timeline-table__record-description {
          background: rgb(212, 250, 239);
        }
      }

      &__confirmed {
        .timeline-table__record-time {
          background: rgb(161, 149, 244);

          .timeline-table__icon {
            background-image: url('@/assets/images/patients-item-time-icon-confirmed.svg');
          }
        }

        .timeline-table__record-description {
          background: rgb(220, 212, 250);
        }
      }

      &__completed {
        .timeline-table__record-time {
          background: rgb(238, 138, 95);

          .timeline-table__icon {
            background-image: url('@/assets/images/patients-item-time-icon-completed.svg');
          }
        }

        .timeline-table__record-description {
          background: rgb(245, 193, 170);
        }
      }

      &__cancelled {
        .timeline-table__record-time {
          background: rgb(241, 148, 170);

          .timeline-table__icon {
            background-image: url('@/assets/images/patients-item-time-icon-cancelled.svg');
          }
        }

        .timeline-table__record-description {
          background: rgb(246, 181, 196);
        }
      }

      &__warned {
        .timeline-table__record-time {
          background: rgb(238, 202, 107);

          .timeline-table__icon {
            background-image: url('@/assets/images/patients-item-time-icon-warned.svg');
          }
        }

        .timeline-table__record-description {
          background: rgb(252, 238, 211);
        }
      }
    }*/

    /*&:hover {
            height: 100% !important;
            overflow: visible;
            z-index: 11;
            box-shadow: 0px 0px 5px 1px rgba(0,0,0,.4);
            & > * {
                opacity: 1;
            }
        }*/
  }

  &__record-time {
    font-size: 10px;
    line-height: 110%;
    background: #1ab394;
    padding: 0 3px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    position: relative;

    .timeline-table__icon {
      width: 11px;
      height: 11px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__record-description {
    background: #8ddccb;
    height: 100%;
    font-size: 10px;
    line-height: 110%;
    padding: 2px 3px;
    color: #414a56;
    white-space: pre-wrap;

    p:not(:last-child) {
      margin-bottom: 3px;
    }

    .client-name {
      font-weight: bold;
    }
  }

  &__list-hour {
    span {
      height: 15px;
      display: block;
      width: 100%;
      box-shadow: inset 0 1px var(--secondary);
      font-size: 10px;
      color: #ffffff;
      padding: 0 3px;

      &:hover {
        cursor: pointer;
        background-color: #1ab394;
        border-radius: 4px;
      }
    }
  }
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;

  &__content {
    width: 90vw;
    height: 90vh;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
    border-radius: 16px;
    overflow: hidden;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90px;
      background: linear-gradient(360deg, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%);
      z-index: 20;
      pointer-events: none;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__block {
    position: relative;
  }

  &__container {
    padding: 80px 0 0;
  }
}

.record-modal {
  .modal__content {
    max-width: 1080px;
  }
}

.modal-window {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
  }

  &__prompt {
    font-size: 12px;
    color: #6c7b8f;
    margin: 4px 0;
  }

  &__container {
    width: 800px;
    padding: 48px 32px 32px 32px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 100;
    max-height: 96vh;
    overflow: auto;

    &.size-920 {
      width: 920px;
    }

    &.size-1100 {
      width: 1100px;
    }

    &.size-1300 {
      width: 1300px;
    }

    &__storage {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    &__storage {
      height: 100vh;
      padding: 0;
    }
  }

  &__header {
    margin-bottom: 32px;
  }

  &__block {
    &--text {
      font-size: 15px;
    }
  }

  &__buttons {
    margin-top: 16px;
  }

  &__bottom {
    margin-top: 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 133%;
    color: #6c7b8f;
  }

  &__sub-title {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    color: #6c7b8f;
  }

  &__date {
    margin: 12px 0;
    font-size: 14px;
    line-height: 120%;
    color: #6c7b8f;
  }

  &__subtitle {
    margin-top: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #6c7b8f;

    span {
      font-weight: 500;
      margin-right: 8px;
      color: #6c7b8f;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
